<!DOCTYPE html>
<html lang="en">

<head>
    <!-- header -->
    <% include _partials/painel/header %>
</head>

<body>
    <header>
    <!-- navbar -->
    <% include _partials/navbar %>
    </header>

    <section class="content">
        <div class="container">
            <h2>Grupos</h2>
            <form class="row justify-content-center mt-3" method="POST">
                <div class="md-form">
                    <i class="fa fa-users prefix grey-text" aria-hidden="true"></i>
                    <input type="text" id="orangeForm-name" name="name" class="form-control" required autofocus/>
                    <label for="orangeForm-team-a">Nome do Grupo</label>
                </div>
                <div class="text-center ml-2 mr-2">
                    <button class="btn btn-deep-orange waves-effect waves-light">Criar Grupo</button>
                </div>
            </form>
        </div>
    </section>

    <section>
        <div class="container">
            <% if (groups.length !== 0) { %>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Grupo</th>
                            <th>Relação</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% groups.forEach( group => { %>
                        <tr>
                            <th scope="row"><%= group.id %></th>
                            <td><%= group.name %></td>
                            <td>
                                <% switch (group.role) {
                                    case 'owner' : %>
                                        Proprietário
                                        <% break
                                    case 'pending' : %>
                                        Pendente
                                        <% break
                                    case 'user' : %>
                                        Usuário
                                        <% break
                                } %>
                            </td>
                            <td>
                                <a href="/groups/<%= group.id %>" class="btn btn-sm btn-default mr-1 ml-1">Ver</a>
                                <% if(group.role === 'owner') { %>
                                    <a href="/groups/delete/<%= group.id %>" class="btn btn-sm btn-danger mr-1 ml-1">Excluir</a>
                                <% } %>
                                <% if(!group.role) { %>
                                    <a href="/groups/<%= group.id %>/participate" class="btn btn-sm btn-default mr-1 ml-1">Participar</a>
                                <% } %>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% }else{ %>
                <p class="alert alert-info">Nenhum Grupo Encontrado.</p>
            <% } %>
        </div>
    </section>

    <!-- footer -->
    <% include _partials/painel/footer %>
</body>
</html>
